<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nosa.nns.dao.LoginDAO">
	<!-- 로그인 -->
	<select id="findByIdAndPwd" parameterType="nosa.nns.dto.LoginDTO" resultType ="int">
		SELECT COUNT(user_id) FROM TB_USER WHERE user_id = #{userId} AND user_pw = #{userPwd}
	</select>
	
	<!-- 가입 승인 확인 -->
	<select id="findStatus" parameterType="nosa.nns.dto.LoginDTO" resultType ="int">
		SELECT user_status FROM TB_USER WHERE user_id = #{userId} AND user_pw = #{userPwd}
	</select>
</mapper>